.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: end;
}

.input-container {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 580px;
}
